/*****************
    - General -
*****************/
html, body {
    background: #1E1E2A;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.content, .title
{
    position: relative;
    /*color: #1E1E2A;*/
}

.title
{
    /*background: #1E1E2AA0;*/
}

.banner
{
    background: url("../images/banner/Banner.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
}
.banner > div
{
    background: #1E1E2AA0;
    position: fixed;
    width: 100%;
    height: 100%;
}
main
{
    position: relative;
    background: #1E1E2A;
    width: 100%;
    height: 100%;
    display: inline-table;
}
/*****************
    - Header -
*****************/
nav
{
    padding: 1em;
}

/*****************
    - Footer -
*****************/
footer
{
    position: relative;
    padding: 1em;
    text-align: center;
    background: #1E1E2AA0;
}

/*****************
    - Default -
*****************/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 4em;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/*****************
    - Mangas -
*****************/
.mangas-container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em;
}

.manga-card
{
    margin: 0 0 7em 0;
    position: relative;
    width: 15vw;
    height: 40vh;
    cursor: pointer;
    transition: 0.5s;
}

.manga-card > img
{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

}

.manga-card > .title
{
    position: absolute;
    bottom: 0;
    font-size: 1.3em;
    width: 100%;
    height: 25%;
    text-align: center;
    background: rgba(10,10,10,0.75);
    color: white;
    padding: 1em 0 0 0;
    border-radius: 10% 0 0 0 ;
    transition: 0.5s;
    overflow: hidden;
}

.manga-card:hover > .title
{
    height: 50%;
}

.manga-info
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4em;
}

.manga-general
{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

/*****************
    - Stars -
*****************/
.star-wrapper
{
    margin: 1em;
    position: inherit;
    display: grid;
    direction: rtl;
}

.star-wrapper a
{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.star-wrapper a:hover
{
    color: gold;
    transform: scale(1.3);
}

.s1:hover ~ a {
    color: gold;
}
.s2:hover ~ a {
    color: gold;
}
.s3:hover ~ a {
    color: gold;
}
.s4:hover ~ a {
    color: gold;
}
.s5:hover ~ a {
    color: gold;
}

/*****************
    - Profile -
*****************/
.profile-image
{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 5vw;
    top: 1.5vh;
}
.profile-image > img
{
    background: white;
    border-radius: 50%;
}
.hover-image
{
    width: 100%;
    height: 100%;
    background: #50508000;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.hover-image:after
{
    transition: 0.5s;
    content: "Changer l'image";
    opacity: 0;
}
.hover-image:hover:after
{
    opacity: 1;
}
.profile-image:hover > .hover-image
{
    background: #20204075;
}
.profile-image:hover
{

}

/*****************
    - Ami -
*****************/
.ami
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10em;
    font-size: 1.5em;
    transition: 0.5s;
}
.ami > *
{
    margin: 0.5em;
}
.ami:hover
{
    background: #20204075;
}
